<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <style>
    @page {
      size: letter landscape;
    }

    html {
      padding-top: .015em;
      background: white;
      color: black;
      text-align: center;
      font-size: {{fontSize}};
      font-weight: bolder;
    }
  </style>
</head>

<body>
  <div>
      {{#each items}}
      <p>{{this}}</p>
      {{/each}}
    <img src={{logo}} width="auto" height="100px"></img>
  </div>
</body>
</html>